<div class="weather">
  <div class="city-box">
    <h2>Ho Chi Minh City</h2>
  </div>
  <div class="today">
    <div class="infor">
      <div>Thunderstorms</div>
      <span>29°</span>
      <small>C</small>
    </div>
    <div class="weather-icon">
    </div>
  </div>
  <div class="weekday">
    <div class="weekday-forecast">
      <div class="daily">
        <span>Today</span>
        <div class="weather-icon-small"></div>
        <strong>28°C</strong>
        <div>26°C</div>
      </div>
      <div class="daily">
        <span>Tue</span>
        <div class="weather-icon-small"></div>
        <strong>28°C</strong>
        <div>26°C</div>
      </div>
      <div class="daily">
        <span>Wed</span>
        <div class="weather-icon-small"></div>
        <strong>28°C</strong>
        <div>26°C</div>
      </div>
      <div class="daily">
        <span>Thu</span>
        <div class="weather-icon-small"></div>
        <strong>28°C</strong>
        <div>26°C</div>
      </div>
      <div class="daily">
        <span>Fri</span>
        <div class="weather-icon-small"></div>
        <strong>28°C</strong>
        <div>26°C</div>
      </div>
    </div>
    <footer>
      <menu>
        <li>C</li>
        <li>F</li>
        <li>K</li>
      </menu>
      <span>More on weather.com</span>
    </footer>
  </div>